.calc-display, .calc-controls {
    width: 100%;
    height: 200px;
}

.calc-register, .calc-input, .calc-operator {
    font-size: 300%;
    height: 50%;
}

.calc-register, .calc-input {
    width: 100%;
    padding-left: 20%;
}

.calc-operator {
    width: 20%;
    float: left;
}

.calc-section {
    float: left;
}

.calc-binary {
    width: 30%;
}

.calc-unary {
    width: 20%;
}

.calc-numbers {
    width: 50%;
}

.button-row button {
    width: 33.33%;
    float: left;
}
.button-row .clear {
    width: 100%;
}

.calc-section .operator button {
    width: 50px;
}

.ajax-wait-indicator {
    height: 100px;
}

.ajax-wait-text {
    float: left;
}

.ajax-cancel {
    display: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    border-radius: 15px;
}