<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/calc.css">
	{% block test_css %}{% endblock %}
    <title>Calculator</title>
  </head>
  <body>
	{% block test_markup %}{% endblock %}
	<div class="ajax-wait-indicator"><div class="ajax-wait-text"></div><button type="button" class="ajax-cancel">Cancel</button></div>
    <div class="calc-display calc">
	    <div class="calc-register"></div>
	    <div class="calc-operator"></div><div class="calc-input"></div>
    </div>
    <div class="calc-controls calc">
      <div class="calc-binary calc-section"></div>
      <div class="calc-numbers calc-section">
        <div class="button-row">
          <button type="button">7</button>
          <button type="button">8</button>
          <button type="button">9</button>
        </div>
        <div class="button-row">
          <button type="button">4</button>
          <button type="button">5</button>
          <button type="button">6</button>
        </div>
        <div class="button-row">
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
        </div>
        <div class="button-row">
          <button type="button">0</button>
          <button type="button">.</button>
          <button type="button">enter</button>
        </div>
        <div class="button-row">
	      <button class="clear">Clear</button>
	    </div>
      </div>
      <div class="calc-unary calc-section"></div>
    </div>
    <div class="error"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/calc.js"></script>
    {% block test_scripts %}{% endblock %}
  </body>
</html>
